:root{
    --twitter-blue: #1da1f2;
}
.Feed__container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.Feed__contentWrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    position: relative;
}
.Feed__contentWrapper .Feed__emptyFeedMessage{
    transform: translate3d(0, calc(40vh), 0);
    color: var(--twitter-blue);
    font-size: 1.5rem;
}
.Feed__contentWrapper .Feed__writeTweetButton{
    position: absolute;
    top: 3rem;
    left: 30%;
    width: 7rem;
    padding: 0.7rem 0rem;
    cursor: pointer;
    color: white;
    user-select: none;
    background-color: var(--button-pink-bg);
    text-align: center;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 0.88rem;
}
@media (max-width: 850px)
{
    .Feed__contentWrapper .Feed__writeTweetButton{
        left: 5%;
        top: 2rem;
        width: 5.6rem;
        padding: 0.6rem 0rem;
        font-size: 0.7rem;
    }
    .Feed__contentWrapper .Feed__emptyFeedMessage{
        text-align: center;
        font-size: 1rem;
    }
}